<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="register">
   <div class="container">
   <div class="sign_in">
    <p>已有帳戶？ <%=link_to "登入",login_path%></p><hr>
   </div>
  

    <h1>註冊</h1>

  <div class="field">
    <%= form.label :email,"電子信箱*" %><br>
    <%= form.text_field :email,placeholder:"請輸入電子郵件" %>
  </div>

  <div class="field">
    <%= form.label :password,"密碼*"%><br>
    <%= form.text_field :password ,placeholder:"請設定3個字元以上的密碼"%>
  </div>

  <div class="field">
    <%= form.label :password_confirmation,"確認密碼*"%><br>
    <%= form.text_field :password_confirmation ,placeholder:"請再輸入一次密碼"%>
  </div>

  <div class="field">
    <%= form.label :username,"使用者名稱" %><br>
    <%= form.text_field :username ,placeholder:"請設定使用者名稱"%>
  </div>

  <div class="field">
    <%= form.label :nickname,"暱稱" %><br>
    <%= form.text_field :nickname ,placeholder:"請輸入您的暱稱"%>
  </div>

  <div class="field">
    <%= form.label :phone,"手機號碼" %><br>
    <%= form.text_field :phone,placeholder:"請輸入您的手機號碼" %>
  </div>

  <div class="field"> 
    <%= form.label :address,"地址" %><br>
    <div id="twzipcode"></div>
    <script>
      $("#twzipcode").twzipcode();
    </script>
      <%= form.text_field :address ,placeholder:"請輸入您的地址" %>
  </div>

   


                                          

  <div class="field">
    <%= form.label :is_seller %>
    <%= form.check_box :is_seller ,placeholder:" "%>
  </div>

  <div class="field">
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </div>

  <div class="actions">
    <%= form.submit "註冊"%>
  </div>
<% end %>
</div>
</div>
