<h1 class="text-center text-4xl mt-36">買家得標清單</h1>
<div class="w-10/12 mx-auto">
  <div id="products" class="orderlist box mx-auto mt-5">
    <table class="bg-white mx-auto shadow-xl">
      <thead class="bg-blue-500 text-white text-lg">
        <tr class="mx-auto text-center shadow-xl">
          <th id="product-id" class="py-4 px-6 rounded-tl-xl whitespace-nowrap">
            <span>訂單編號</span>
          </th>
          <th id="product-name" class="py-4 px-6 whitespace-nowrap">
            <span>得標商品</span>
          </th>
          <th id="product-bid" class="py-4 px-6 whitespace-nowrap">
            <span>得標金額</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap">
            <span>結標時間</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap"
            <span>訂單狀態</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap">
            <span>賣家名稱</span>
          </th>
          <th id="checkout" class="py-4 px-6 rounded-tr-xl">
            <span>結帳</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr class="text-center text-lg border-t-2 border-b-gray-200 bg-white">
            <td class="py-6 px-6 whitespace-nowrap"><%= order.id %></td>
            <td class="truncate py-6 px-6 whitespace-nowrap"><%= order.product.name %></td>
            <td class="py-6 px-6 whitespace-nowrap"><%= order.price%></td>
            <td class="py-6 px-6"><%= order.product.room.end_time.strftime("%Y-%m-%d %H:%M") %></td>
            <td class="py-6 px-6 whitespace-nowrap"><%= Order.statusTW(order.status) %></td>
            <td class="py-6 px-6 whitespace-nowrap"><%=order.seller.username %> </td>
            <td class="py-6 px-6 whitespace-nowrap">
            <% if order.status == "pending" %> 
              <%= link_to "付款" , check_order_path(order.id),class:"inline-block whitespace-nowrap bg-blue-600 hover:bg-blue-700 px-6 py-3 rounded-full text-white text-base" %>
            <% end %>
            <% if order.status == "paid" %>
              <div class="inline-block whitespace-nowrap bg-gray-300 px-6 py-3 rounded-full text-white text-base">已付款</div>
            <% end %>
            <% if order.status == "failed"  %>
              <%= link_to "付款" , check_order_path(order.id),class:"inline-block whitespace-nowrap bg-blue-600 hover:bg-blue-700 px-6 py-3 rounded-full text-white text-base" %>
            <% end %>
            <% if order.status == "cancelled" %>
              <%= link_to "付款" , check_order_path(order.id),class:"inline-block whitespace-nowrap bg-blue-600 hover:bg-blue-700 px-6 py-3 rounded-full text-white text-base" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
