<form name='Newebpay' action="https://ccore.newebpay.com/MPG/mpg_gateway" method="POST">
  <input type="hidden" name="MerchantID" value= <%=@MerchantID%> />
  <input type="hidden" name="TradeInfo" value= <%=@TradeInfo%> />
  <input type="hidden" name="TradeSha" value= <%=@TradeSha%> />
  <input type="hidden" name="Version" value= <%=@Version%> />

  <div class="actions mt-36 pb-10 px-1">
    <div class="w-3/12 h-auto flex justify-around items-center m-auto border-2 border-black bg-gray-400 p-4 ">
     <h1 class="text-3xl">訂單確認</h1>
    </div>
    <div class="w-3/12 flex items-center h-11 m-auto bg-white border border-black pl-5">
        <h2> 訂單編號：</h2>
        <p><%= @order.id %></p>
    </div>

    <div class="w-3/12 h-11 flex items-center m-auto bg-white border border-black pl-5">
      <h2> 商品名稱：</h2>
      <p><%= @order.description %></p>
    </div>

    <div class="w-3/12 h-11 flex items-center m-auto bg-white border border-black pl-5 ">
      <h2> 訂單價格：</h2>
      <p>新台幣 <%= @order.price %> 元 </p>
    </div>

    <input type="submit" value="前往付款" class="w-3/12 h-11 flex justify-center items-center m-auto bg-blue-600 text-white hover:bg-blue-700 cursor-pointer" />
  </div>
</form>
