<form name='Newebpay' action="https://ccore.newebpay.com/MPG/mpg_gateway" method="POST">
  <input type="hidden" name="MerchantID" value= <%=@MerchantID%> />
  <input type="hidden" name="TradeInfo" value= <%=@TradeInfo%> />
  <input type="hidden" name="TradeSha" value= <%=@TradeSha%> />
  <input type="hidden" name="Version" value= <%=@Version%> />

  <div class="container mx-auto">
    <div class="mt-20">
      <div class="w-4/5 md:w-1/2 mx-auto bg-white rounded-md">
        <!-- first -->
        <div class="flex flex-col justify-center items-center rounded-2xl shadow-xl bg-white">
          <div class="bg-gavel-blue w-full rounded-t-2xl text-center">
            <h6 class="text-white font-bold text-xl my-4">再次確認商品資訊</h6>
          </div>

          <div
            class="
              flex
              justify-between
              items-center
              w-full
              py-5
              border-b-2 border-gray-200
            "
          >
            <p class="text-gray-700 font-semibold ml-4">商品名稱</p>
            <p class="text-black mr-4"><%= @order.description %></p>
          </div>

          <div
            class="
              flex
              justify-between
              items-center
              w-full
              py-5
              border-b-2 border-gray-200
            "
          >
            <p class="text-gray-700 font-semibold ml-4">訂單編號</p>
            <p class="text-black mr-4"><%= @order.id%></p>
          </div>
          <div
            class="
              flex
              justify-between
              items-center
              w-full
              py-5
              border-b-2 border-gray-200
            "
          >
            <p class="text-gray-700 font-semibold ml-4">付款金額</p>
            <p class="text-indigo-600 mr-4">NT$<%= @order.price%></p>
          </div>
          <div
            class="
              flex
              justify-between
              items-center
              w-full
              py-5
              border-b-2 border-gray-200
            "
          >
            <p class="text-gray-700 font-semibold ml-4">買家信箱確認</p>
            <p class="text-black mr-4"><%= @order.email %></p>
          </div>
          <div class="px-3 py-5 w-4/5">
            <input type="submit" value="前往付款頁面" class="min-w-full bg-blue-200 font-semibold text-gray-700 hover:text-blue-200 hover:bg-gray-700 px-2 py-2 rounded-2xl cursor-pointer transition ease-in duration-300" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
