<h1 class="text-center text-4xl mt-36">賣家訂單</h1>
<% if @orders %>
<div class="w-10/12 mx-auto">
  <div id="products" class="orderlist box mx-auto mt-5">
    <table class="bg-white mx-auto shadow-xl">
      <thead class="bg-blue-500 text-white text-lg">
        <tr class="mx-auto text-center shadow-xl">
          <th id="product-id" class="py-4 px-6 rounded-tl-xl whitespace-nowrap">
            <span>訂單編號</span>
          </th>
          <th id="product-name" class="py-4 px-6 whitespace-nowrap">
            <span>得標商品</span>
          </th>
          <th id="product-bid" class="py-4 px-6 whitespace-nowrap">
            <span>得標金額</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap">
            <span>結標時間</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap"
            <span>訂單狀態</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap rounded-tr-xl">
            <span>賣家名稱</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr class="text-center text-lg border-t-2 border-b-gray-200 bg-white">
            <td class="py-6 px-6 whitespace-nowrap"><%= order.id %></td>
            <td class="py-6 px-6 whitespace-nowrap"><%= order.product.name %></td>
            <td class="py-6 px-6 whitespace-nowrap"><%= order.price%></td>
            <td class="py-6 px-6 whitespace-nowrap"><%= order.product.room.end_time.strftime("%Y-%m-%d %H:%M") %></td>
            <td class="py-6 px-6 whitespace-nowrap"><%= order.status %></td>
            <td class="py-6 px-6 whitespace-nowrap"><%=order.buyer.username %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
<h1>尚未有出售商品</h1>
<% end %>




