<div class="container my-5 mx-auto bg-white rounded-2xl" >
  <h1 class="flex justify-center text-4xl" >
    <%= @product.name %>
  </h1>

  <%# 要能link_to點到賣家頁面 %>
  <div class="flex justify-center" >
    <%= image_tag("rilakkuma.png", width:50) %>
  </div>

  <div class="grid justify-center mt-5" >
    <div>
      <span class="text-lg mr-5" > 直購價：$1000 </span>
      <span class="text-lg" > 起標價：$2000 </span>
    </div>
    <div class="flex justify-center" >
      <h2 class="text-2xl" >最高出價：$2500 </h2>
    </div>
  </div>

  <section class="carousel" data-controller="carousel" >
    <div class="room_container">
      <span id="previous">＜</span>
      <span id="next">＞</span>
      <div id="slider" class="slider">
        <% @product.images.each do |image| %>
          <%= image_tag(image, width:100) %>
        <% end %>
      </div>
      <ul id="dots" class="dots">
        <% @product.images.each do |image| %>
          <li></li>
        <% end %>
      </ul>
    </div>
  </section>

  <div class="" data-controller="bid">
    <%# 要再修正成剩餘時間 %>
    <div class="flex justify-center text-xl" >拍賣剩餘時間：
      <div class="relative">
        <span data-controller="countdown" data-countdown-message-value="${days} 天 ${hours} 小時 ${minutes} 分鐘 ${seconds} 秒" data-countdown-date-value="<%= @room.life_time %>" data-countdown-now-value="<%= Time.now %>" >...</span>
        <button type="button" class="logo absolute -top-8
        -right-20"  data-action="click->bid#show" ><%= image_tag("logo", width:80 ) %></button>
      </div>
    </div>

    <div class="flex justify-center" data-bid-target="record" >
        <div class="relative font-bold text-white rounded-full bg-gray-600 flex items-center justify-center font-mono" style="height: 50px; width: 50px; font-size: 12px;">name
          <div class="bg-yellow-400 absolute bottom-0 left-8 transform skew-x-10" >2500</div>
        </div>
    </div>

    <div class="hidden my-5" data-bid-target="bid" >
      <p class="font-bold text-lg flex justify-center" >競標</p>
      <div class="flex justify-center" >
        你的出價：$ <span data-bid-target="priceNow">2500</span> + 
        $<input type="number" data-bid-target="input" >
        <button data-action="click->bid#addPrice">加價</button> = 
        $<span data-bid-target="yourPrice" ></span>
      </div>
      <div class="flex justify-center" >
        <button>+100</button>
        <button>+500</button>
        <button>+1000</button>
        <button>確認出價！</button>
      </div>
    </div>

  </div>



</div>


<h1 class="text-4xl">Room view</h1>
<%= link_to "檢視產品設定" , product_path(@room.id)%>
<ul>
  <li>開標時間:<%= @room.start_time %></li>
  <li>結標時間:<%= @room.end_time%></li>
  <li>房間狀態:<%= @room.status%></li>
  <li>最多上線人數:<%= @room.maxpeople%></li>
</ul>

<%= link_to 'Back', product_path %>