<%= form_for( product, html:  {enctype: "multipart/form-data"}) do |form|%>
  <div class="field">
    <%= form.label "商品名稱:" %>
    <%= form.text_field :name %>
  </div>

  <div class="field flex items-start">
    <%= form.label :description ,"商品描述:"%>
    <%= form.text_area :description ,size: "24x6"%>
  </div>

  <div class="field">
    <%= form.label :start_price, "起標價格:" %>
    <%= form.text_field :start_price %>
  </div>

  <div class="field">
    <%= form.label :direct_price, "直購價格:" %>
    <%= form.text_field :direct_price %>
  </div>

  <div class="field">
    <%= form.label "狀態:" %>
     <%= form.select :status, Product.all_status %>
  </div>

  <div class="custom-file-container w-[600px]" data-upload-id="myFirstImage" data-controller="multipleImg" >
  </div>
  
  <div data-controller="tag"></div>
  
  <%= form.submit%>
<% end %>
<script> //DEBUG用
  function onChangeFunction(event) {
    let fileList = event.target.files;
    console.log("fileList",event,fileList);
  }
</script>
