<%= form_with(model: product) do |form|%>

  <div class="field">
    <%= form.label "商品名稱:" %>
    <%= form.text_field :name %>
  </div>
  
  
  <div class="field flex items-start">
    <%= form.label :description ,"商品描述:"%>
    <%= form.text_area :description ,size: "24x6"%>
  </div>

  <div class="field">
    <%= form.label :direct_price, "直購價格:" %>
    <%= form.text_field :direct_price %>
  </div>
  
  <div class="field">
    <%= form.label "上傳時間:" %>
    <%= form.text_field :upload_time %>
  </div> 

  <div class="field">
    <%= form.label :picture , "商品圖片:" %>
    <%= form.text_field :picture %>
  </div>

  <div class="field">
    <%= form.label "狀態:" %>
     <%= form.select :status, Product.all_status %>
  </div>



  <%= form.submit%>

<% end %>