<h1 class="text-4xl m-5">Products List</h1>
<%= params %>
<% if @products %>
	<div id="search">
		<ul data-search-target="product">
			<% @products.each do |product| %>
				<%= url_for(product.images[0]) %>
				<%= product.name %>
				<%= product.description %>
				<%= product.status %>
				<%= product.start_price %>
				<%= product.direct_price %>
				<li>
					<%= link_to "edit", edit_product_path(product.id) %>
					<%= link_to "delete", product_path(product.id), method:"DELETE", data: {confirm: "Are you sure?"} %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
<%= link_to "Create product", new_product_path, class: "hover:text-indigo-600" %>

<nav class="" >
      <ul class="flex justify-between">
        <li class=""><%= link_to '3C', "#" %></li>
        <li class=""><%= link_to '手機', "#" %></li>
        <li class=""><%= link_to 'iPhone', "#" %></li>
        <li class=""><%= link_to 'Samsung', "#" %></li>
        <li class=""><%= link_to '書店', "#" %></li>
        <li class=""><%= link_to 'Comics', "#" %></li>
        <li class=""><%= link_to 'Magazines', "#" %></li>
        <li class=""><%= link_to '家電', "#" %></li>
        <li class=""><%= link_to '食品', "#" %></li>
        <li class=""><%= link_to '日常', "#" %></li>
      </ul>
    </nav>

<%= javascript_pack_tag 'product', 'data-turbolinks-track': 'reload' %>
<div id="app"></div>
