<%# TODO 已得標 得標人 如果沒有房間可以創建房間 如果競標中顯示最高出價%>

  <h1 class="text-center text-4xl mt-36 text-gray-800" >我的商品</h1>
  <div class="flex justify-end mt-5 md:mr-5">
    <div class="bg-gavel-blue hover:bg-blue-600 rounded-2xl text-xl text-white mr-2 mb-4 " ><%= link_to "＋建立新商品", new_product_path, class:"w-full flex px-4 py-2 md:px-6 md:py-3" %></div>
  </div>
<% if @products %>
  <main class="mx-3 lg:mx-0 lg:grid lg:grid-cols-3">
    <% @products.each do |product|%>
      <div class="md:px-4">
        <div class=" w-full mb-10 bg-gray-200 rounded-lg shadow-xl px-5 py-3 md:box-border md:gap-4">
          <div class="flex justify-between">
            <div class="inline-block bg-blue-500 px-3 py-2 ml-4 mt-2 mb-2 shadow-lg rounded-lg " >
              <span class="text-white"><%= Product.status_to_chinese(product.status) %></span>
            </div>
            <div class="mr-2">
              <% product.tags.each do |tag| %>
              <span class="text-gray-600 mt-2 mr-2 bg-white shadow p-2 rounded-full inline-block" ><%= tag.name %></span>
              <% end %>
            </div>
          </div>
          <div>
            <div class=" flex justify-center " >
              <div class="h-72 w-72 md:h-96 md:w-96 " >
                <%= link_to image_tag(product.images.first, class:"h-full w-full rounded-lg object-cover object-center" ), room_path(product.id) %>
              </div>
            </div>
            <div class="w-full bg-gray-200">
              <div class=" w-full flex flex-wrap justify-between">
                <div class="flex w-full h-15">
                  <div class="flex items-center justify-center w-full">
                  <%= link_to product.name , room_path(product.id), class: "truncate w-3/5 h-15 text-center text-2xl whitespace-wrap border-b-2 border-gray-400 py-2 md:font-bold "%>
                  </div>
                </div>
                <div class="w-full my-4 flex justify-evenly items-center ">
                  <div class="flex flex-col text-center text-gray-600">
                    <span class="text-lg">商品起標價</span>
                    <span class="text-2xl mt-2">$<%= product.start_price %></span>
                  </div>
                  <div class="flex flex-col text-center text-gray-600">
                    <span class="text-lg">每標最低價</span>
                    <span class="text-2xl mt-2">$<%= product.basicprice %></span>
                  </div>
                  <div class="text-center flex flex-col justify-center ">
                    <span class=" text-lg ">目前最高價</span>
                    <span class="text-red-400 text-2xl font-bold mt-2" ><%= product.records.last&.bid ? product.records.last&.bid : "-" %></span>
                  </div>
                </div>
                <div class= "w-full flex justify-between mb-2">
                  <div>
                    <% if product.room %>
                    <% else %>
                    <div class="flex flex-shrink  bg-gavel-blue hover:bg-blue-600 rounded-xl text-white shadow-lg ml-4">
                      <%= link_to "創建房間", new_room_path(product.id), class:"w-full px-6 py-2 box-border"%>
                    </div>
                    <% end %>
                  </div>
                  <div class="flex mr-2">
                    <div class="flex item-center bg-blue-500 hover:bg-blue-600 rounded-lg text-white text-lg shadow-lg" >
                      <%= link_to fa_inline_icon('edit', class:'w-4 m-auto') , edit_product_path(product.id), class:"w-full px-6 py-3 box-border"%>
                    </div>
                    <div class="flex item-center bg-red-400 hover:bg-red-600 rounded-lg text-white text-lg shadow-lg ml-2 mr-2">
                      <%= link_to fa_inline_icon('trash-alt', class:'w-4 m-auto'), product_path(product.id), method: "DELETE", class:"w-full px-6 py-3 box-border",data: {confirm: "確定刪除嗎？"}%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </main>

