<%# TODO 已得標 得標人 如果沒有房間可以創建房間 如果競標中顯示最高出價%>

<h1 class="text-center text-4xl mt-10" >我的商品</h1>
<% if @products.any? %>
  <% @products.each do |product|%>
    <div class="container w-8/12 mx-auto bg-gray-200 rounded-lg shadow-lg relative" >
      <div class="mt-5" >
        <div class="flex justify-between px-5 pt-2 mb-2 w-full" >
          <div class="bg-blue-400 px-4 py-2 rounded-xl" >
            <span class="text-white" ><%= product.status %></span>
          </div>
          <div>
            <% product.tags.each do |tag|%>
              <div class="bg-white shadow px-2 py-2 rounded-xl inline-block" >
                <span class="text-gray-600 " ><%= tag.name %> </span>
              </div>
            <% end %>
          </div>
        </div>
        <div class="flex" >
          <div class="ml-5 mb-5 w-24 h-24" >
            <div class="h-24 w-24" >
            <%= link_to image_tag(product.images.first, class:"h-full hover:scale-110 transition duration-300 ease-in-out object-cover rounded-lg" ), room_path(product.id) %>
            </div>
          </div>
          <div class="ml-5 w-full" >
            <div class="flex w-full justify-between" >
              <%= link_to product.name , room_path(product.id), class: "h2 text-4xl"%>
              <div class="mt-2 mr-5 ">
                <span class="text-gray-800" >目前最高出價：</span>
                <span class="text-yellow-600 text-4xl" >$250</span>
              </div>
            </div>
            <div class="text-gray-800" >
                <p>起標價：$<%= product.start_price %> </p>
                <p>最低每標金額：$<%= product.basicprice %> </p>
            </div>
            
            <div class= "absolute right-5 bottom-3">
              <button class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-xl text-white text-lg shadow-lg " ><%= link_to "編輯" , edit_product_path(product.id)%></button>
              <button class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded-xl text-white text-lg shadow-lg" ><%= link_to "刪除" , product_path(product.id) , method:"DELETE" , data: {confirm: "確定刪除嗎？"}%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="flex justify-center mt-10 pb-10" >
  <button class="bg-blue-500 hover:bg-blue-600 px-10 rounded-xl text-white text-2xl" ><%= link_to "＋建立新商品" , new_product_path%></button>
</div>
