<h1 class="text-4xl">Product <%= @product.name%></h1>

<ul>
  <li>商品名稱:<%= @product.name%></li>
  <li>商品描述:<%= @product.description %></li>
  <li>直購價格:<%= @product.start_price%></li>
  <li>直購價格:<%= @product.direct_price%></li>
  <li>商品圖片:
    <% @product.images.each do |image| %>
      <%= image_tag(image, width:50) %>
      <!-- <%= url_for(image) %> -->
    <% end %>
  </li>
  <li>標籤分類:<% @product.tags.each do |tag| %><%= tag.name %>  <% end %></li>
</ul>
<%= link_to "檢視房間設定" , room_path(@product.id)%>
<%= link_to 'Back', own_products_path %>
