    <footer class="footer text-white bg-sky-500/100 p-9 bg-base-200 text-base-content">
      <div
        class="container_top mx-auto mb-5 w-11/12 border-solid border-b-2 border-gray-500"
      >
        <div class="footer_list flex flex-wrap w-full">
          <div class="footer_logo mt-2.5 w-1/5">
          <div class="logo">
            <img
                class="logo_pic block w-12 h-12 rounded-full"
                src="https://picsum.photos/150/150?random=1"
                alt="#"
            />
          </div>

            <h2 class="text-2xl">Gavel</h2>
            <p class="logo_introduce pb-7">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Doloremque omnis nostrum, ut tempora numquam aut quos earum
              exercitationem
            </p>
          </div>
          <div class="footer_link box-border grow ml-24 pt-5">
            <h3 class="footer-title text-xl pb-2.5">社群</h3>
            <ul class="link_list list-none">
              <li class="link mb-1.5 "><%= link_to "Youtube","#" , { :class=>"hover:text-blue-600/100" }%></li>
              <li class="link mb-1.5 "><%= link_to "Facebook","#", { :class=>"hover:text-blue-600/100" }%></li>
              <li class="link mb-1.5 "><%= link_to "Instagram","#", { :class=>"hover:text-blue-600/100" }%></li>
              <li class="link mb-1.5 "><%= link_to "Twitter","#", { :class=>"hover:text-blue-600/100" }%></li>
            </ul>
          </div>

          <div class="footer_link box-border grow ml-24 pt-5">
            <h3 class="footer-title text-xl pb-2.5">關於我們</h3>
            <ul class="link_list list-none">
              <li class="link mb-1.5 "><%= link_to "關於我們","#", { :class=>"hover:text-blue-600/100" }%></li>
              <li class="link mb-1.5 "><%= link_to "關於Gavel","#", { :class=>"hover:text-blue-600/100" }%></li>
            </ul>

          </div>


          <div class="footer_link box-border grow ml-24 pt-5">
            <h3 class="footer-title text-xl pb-2.5">客服中心</h3>
            <ul class="link_list list-none">
              <li class="link mb-1.5 "><%= link_to "問題回報","#", { :class=>"hover:text-blue-600/100" }%></li>
              <li class="link mb-1.5 "><%= link_to "聯繫我們","#", { :class=>"hover:text-blue-600/100" }%></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container_bottom w-11/12 mx-auto">
        <span class="company_span text-xs">© 2022 Gavel Networks</span>
      </div>
    </footer>