<!DOCTYPE html>
<html>
  <head>
    <title>Garvel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="bg-gray-100">
    <div id="nav">
      <% if current_user %>
        <%= link_to "編輯個人資訊", edit_user_path(current_user.id) %>
        |
        <%= link_to "登出", :logout, method: :post %>
        |
        <%= link_to "我的賣場", own_products_path %>
      <% else %>
        <%= link_to "註冊", new_user_path %> |
        <%= link_to "登入", :login %>
      <% end %>
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <%= yield %>
  </body>
</html>
