<!DOCTYPE html>
<html>
  <head>
    <title>Gavel｜即時競價－隨時隨地拍下新寶藏</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class ="">
    <!-- "controller"=>"products", "action"=>"index" -->
    <h1 class="hidden">Gavel</h1>
    <section>
      <div class="fixed top-0 z-100 left-0 right-0">
        <% if not (params["controller"] == "products" && params["action"] == "index") %>
        <input type="checkbox" id="menu_control">
        <div id="nav" class="bg-gradient-to-r from-gavel-blue to-green-400 shadow-lg items-center flex h-20 justify-between">
          <div class="flex items-center ml-2 md:ml-8">
						<%= link_to root_path, class:"flex logo w-full items-center" do %>
							<%= image_tag("gavel_reverse-modified.png", alt: "Gavel logo",class:"logo cursor-pointer w-8 md:w-12") %>
              <h1 class="Gavel text-white font-mono font-bold pl-2 cursor-pointer text-3xl md:text-5xl">Gavel</h1>
						<% end %>
          </div>
          <div class="text text-white xl:mx-6">
            <% if policy(:application).buyer_without_email_authenticate ||  policy(:application).buyer %>
              <ul>
                <li><%= link_to "成為賣家", :new_sms_auth_registration, class:"xl:mx-0 hover:text-blue-200 text-xl" %></li>
                <li>
                  <%= link_to "買家中心", "#", class:" xl:mx-0 hover:text-blue-200 text-xl" %>
                  <ul class="sub-nav">
                    <li><%= link_to "個人資訊", user_path(current_user.id), class:"xl:mx-0 hover:text-blue-200 text-xl" %></li>
                    <li><%= link_to "得標紀錄", buyerlist_products_path, class:" xl:mx-0 hover:text-blue-200 text-xl" %></li>
                    <li><%= link_to "交易紀錄", record_orders_path, class:" xl:mx-0 hover:text-blue-200 text-xl" %></li>
                  </ul>
                </li>
              </ul>
              <%= link_to "登出", user_sessions_path, method: "delete", class:"xl:mx-0 hover:text-blue-200 text-xl" %>
            <% elsif policy(:application).seller %>
              <ul>
                <li>
                  <%= link_to "賣家中心", "#", class:"xl:mx-0 hover:text-blue-200 text-xl" %>
                  <ul class="sub-nav">
                    <li><%= link_to "我的商品", own_products_path, class:"xl:mx-0 hover:text-blue-200 text-xl" %></li>
                    <li><%= link_to "成交清單", sellitem_products_path, class:"xl:mx-0 hover:text-blue-200 text-xl" %></li>
                    <li><%= link_to "成交紀錄", "#", class:"xl:mx-0 hover:text-blue-200 text-xl" %></li>
                  </ul>
                </li>
                <li>
                  <%= link_to "買家中心", "#" ,class:" xl:mx-0 hover:text-blue-200 text-xl" %>
                  <ul class="sub-nav">
                    <li><%= link_to "個人資訊", user_path(current_user.id) ,class:"xl:mx-0 hover:text-blue-200 text-xl" %></li>
                    <li><%= link_to "得標紀錄", buyerlist_products_path ,class:" xl:mx-0 hover:text-blue-200 text-xl" %></li>
                    <li><%= link_to "交易紀錄", record_orders_path ,class:" xl:mx-0 hover:text-blue-200 text-xl" %></li>
                  </ul>
                </li>
              </ul>
              <%= link_to "登出", user_sessions_path, method: "delete", class:"xl:mx-0 hover:text-blue-200 text-xl" %>
            <% else %>
              <%= link_to "註冊", new_user_path ,class:"hover:mx-0 text-blue-200 text-xl" %>
              <%= link_to "登入", new_user_session_path ,class:"mx-0 hover:text-blue-200 text-xl" %>
            <% end %>
          </div>
          <label for="menu_control" class="menu_btn mr-1 md:mr-8">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <% end %>
          <div>
            <%= render "shared/flash" if flash %>
          </div>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
